{% extends "main.html" %}
{% block content %}

 <h2>{{ catagory.name }} Item</h2>
  <table class="table table-bordered">
    <thead>
      {% if not session.username %}
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      {% else %}
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
            <th></th>
        </tr>
      {% endif %}
    </thead>
    <tbody>
	{% for item in items %}
    {% if not session.username %}
      <tr>
        <td>{{ item.names }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
      </tr>
      {% else %}
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td><a href="{{url_for('editMenu', catagory_id = catagory.id, item_id = item.id)}}"><button type="submit" class="btn btn-success">Edit</button> </a></td>
        <td><a href="{{url_for('deleteMenu', catagory_id = catagory.id, item_id = item.id)}}"><button type="submit" class="btn btn-danger">Delete</button> </a></td>
      </tr>
       {% endif %}
  	{% endfor %}
    </tbody>
  </table>


{% endblock content %}